body {
  text-align: center;
}

.Header {
  background-color: red;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
}

.Header h2 {
  margin: 0 0 0 16.5%;
  padding: 0;
  flex-grow: 100;
}

.Header ul {
  float: right;
  display: flex;
  margin: 0 5% 0 0;
  padding: 0;
  flex-grow: 1;
}

.Header li {
  list-style: none;
  margin: 10%;
  justify-self: right;
}

.container {
  display: flex;
  background-color: black;
  justify-content: center;
  align-content: center;
  padding: 3% 5px 1.75% 5px;
  flex-direction: row;
  /* background: azure; */
}

.container .SearchItemList {
  background-color: blue;
  padding-right: 5%;
}

.container .UserItemList {
  background-color: blue;
  height: 58.2vh;
}
.container .UserItemList li {
  text-align: left;
  margin-top: 2%;
}

.container .StatCalculator {
  margin: 2% 5% 0 5%;
  background-color: blue;
  height: 300px;
}

.container .StatCalculator div{
  margin: 0 4% 0 4%;
}

.ItemLists {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.ItemLists .UserItemList {
  margin: 0 5% 0 5%;
  background-color: blue;
}

#AllUserItems {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#LeftUserItems p {
  padding: 5%;
}

#RightUserItems p {
  padding: 5% 0 0 10%;
}

.StatCalculator ul {
  display: flex;
}

.StatCalculator li {
  margin: 0 1% 0 1%;
  list-style: none;
}

.About {
  margin: 0 5% 0 5%;
}

.SearchListResults {
  width: 40vw;
  height: 70vh;
  background-color: blanchedalmond;
  margin: 7%;
  overflow: auto
}

.SearchListResults ul {
  padding-top: 1%;
}

.SearchListResults li {
  margin: 10%;
}