body {
  text-align: center;
}

.Header {
  background-color: red;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.Header h2 {
  margin: 0;
  padding: 0;
  flex-grow: 100;
}

.Header ul {
  float: right;
  display: flex;
  margin: 0 5% 0 0;
  padding: 0;
  flex-grow: 1;
}

.Header li {
  list-style: none;
  margin: 10%;
  justify-self: right;
}

.container {
  display: flex;
  background-color: orange;
  justify-content: center;
  align-content: center;
  padding: 3% 5px 1.4% 5px;
  flex-direction: column;
  background: azure;
}

.container .SearchItemList {
  margin: 0 0 0 5%;
  background-color: blue;
  height: 550px;
}

.container .UserItemList {
  margin: 0 5% 0 0;
  background-color: blue;
  height: 550px;
}
.container .UserItemList li {
  text-align: left;
  margin-top: 2%;
}

.container .StatCalculator {
  margin: 2% 5% 0 5%;
  background-color: blue;
  height: 300px;
}

.ItemLists {
  background-color: blueviolet;
  display: flex;
}

.ItemLists .SearchItemList {
  flex-grow: 5;
}

.ItemLists .UserItemList {
  margin: 0 5% 0 5%;
  background-color: blue;
  flex-grow: 10;
}

.StatCalculator ul {
  display: flex;
}

.StatCalculator li {
  margin: 0 8% 0 8%;
  list-style: none;
}

.About {
  margin: 0 5% 0 5%;
}
