body {
  text-align: center;
}

.Header {
  background-color: blue;
  margin: 0;
  padding: 0.5%;
  position: fixed;
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  background-color: orange;
  padding-top: 10%;
}